.DS_Store
node_modules
/**/node_modules
.cache
yarn-error.log
.vscode/
build/
out/
demo.zip
tests/plugin/.uxprc
.npmrc
packages/uxp-devtools-app/tests/utils/demoAppConfig.json
packages/uxp-devtools-cli/tests/utils/demoAppConfig.json
packages/uxp-devtools-cli/tests/plugin/.uxprc
test-report.html
coverage
app-coverage
final-coverage
merge-coverage.json
.nyc_output
**/package-lock.json